<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des commentaires</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Liste des commentaires</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for commentaire in commentaires %}
        <tr>
            <td>{{ commentaire.id }}</td>
            <td>{{ commentaire.description }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
